body {
    background-color: #b8c8cb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.modal {
    background-color: #e7e0da;
    margin: 10px;
    border-radius: 10px;
    border: solid 3px white;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 500px;
}

#topSection {
    background-color: #FFFFFF;
    margin: 10px 10px 5px 10px;
    padding: 30px 10px;
    border-radius: 5px;
    color: #9e3646;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 30px;
}

button {
  background-color: #c59a5c;
  border-radius: 3px;
  border: solid 2px #9e3646;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 900;
  margin: 10px;
  padding: 15px 16px;
  flex: 1;
}

#result {
    background-color: #FFFFFF;
    margin: 5px 10px 10px 10px;
    padding: 30px 10px;
    border-radius: 5px;
    color: #9e3646;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

