body {
    background-color: #e7e0da;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

.modal {
    background-color: #8b8b82;
    height: 80vh;
    margin: 50px;
    border-radius: 10px;
    border: solid 3px white;

    display: flex;
    flex-direction: column;
}
#buttons {
    display: flex;
    justify-items: center;
    background-color: #b8c8cb;
    margin: 10px;
    border-radius: 5px;
}

button {
  background-color: #c59a5c;
  border-radius: 3px;
  border: solid 2px #9e3646;;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  font-weight: 900;
  margin: 10px;
  padding: 15px 16px;
  flex: 1 1 auto;
}
